.Employee_Leave_Application_Form {
    width: 100%;
    padding-top: 20px;
}

.Employee_Leave_Application_Form .Application_Form {
    border-radius: 10px;
    width: 30%;
    padding: 20px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #ffff;
    transition: .5s;
    animation: popups .2s linear 1 forwards alternate;
    opacity: 0;
    transform: scale(0.8);
}

.Employee_Leave_Application_Form .Application_Form .Check_Box .Check_Box_select {
    display: grid;
    grid-template-columns: 50fr 50fr;
    grid-column-gap: 30px;
    padding: 10px;
    font-size: 12px;
}

.Employee_Leave_Application_Form .Application_Form .Check_Box .Check_Box_select div {
    display: flex;
    align-items: center;
}

.Employee_Leave_Application_Form p {
    margin-bottom: 0;
}

.Employee_Leave_Application_Form .Application_Form .Leave_Duration .Leave_Duration_Date input {
    border: 1px solid rgb(212, 212, 212) !important;
    border-radius: 5px !important;
    box-shadow: rgb(204, 219, 232) 1px 1px 1px 0px inset, rgba(255, 255, 255, 0.5) -1px -1px 1px 1px inset;
    background-color: rgb(240, 240, 240, 0.5);
}

.Employee_Leave_Application_Form .Application_Form .Leave_Purpose textarea {
    border: 1px solid rgb(212, 212, 212) !important;
    border-radius: 5px !important;
    box-shadow: rgb(204, 219, 232) 1px 1px 1px 0px inset, rgba(255, 255, 255, 0.5) -1px -1px 1px 1px inset;
    background-color: rgb(240, 240, 240, 0.5);
}

.Employee_Leave_Application_Form .Application_Form .Medical_Prove input {
    border: 1px solid rgb(212, 212, 212) !important;
    border-radius: 5px !important;
    box-shadow: rgb(204, 219, 232) 1px 1px 1px 0px inset, rgba(255, 255, 255, 0.5) -1px -1px 1px 1px inset;
    background-color: rgb(240, 240, 240, 0.5);
}

.Employee_Leave_Application_Form .Application_Form form button {
    background-color: black;
    color: white;
}

.Employee_Leave_Application_Form .Application_Form form h5,
.Employee_Leave_Application_Form .Application_Form form input,
.Employee_Leave_Application_Form .Application_Form form textarea,
.Employee_Leave_Application_Form .Application_Form form button,
.Employee_Leave_Application_Form .Application_Form form p {
    font-size: 12px;
}

@media only screen and (max-width: 1460px) {
    .Employee_Leave_Application_Form .Application_Form {
        width: 40%;
    }
}

@media only screen and (max-width: 1100px) {
    .Employee_Leave_Application_Form .Application_Form {
        width: 50%;
    }
}

@media only screen and (max-width: 880px) {
    .Employee_Leave_Application_Form .Application_Form {
        width: 60%;
    }
}

@media only screen and (max-width: 730px) {
    .Employee_Leave_Application_Form .Application_Form {
        width: 70%;
    }
}

@media only screen and (max-width: 630px) {
    .Employee_Leave_Application_Form .Application_Form {
        width: 80%;
    }
}

@media only screen and (max-width: 550px) {
    .Employee_Leave_Application_Form .Application_Form {
        width: 90%;
    }
    .Employee_Leave_Application_Form .Application_Form form button {
        width: 50%;
        margin-bottom: 10px;
    }
    .Employee_Leave_Application_Form .Application_Form {
        padding: 5px;
    }
    .Employee_Leave_Application_Form .Application_Form form h3 {
        font-size: 20px;
        padding-top: 10px;
    }
}