.View_Employee_Attendance {
    width: 100%;
    display: grid;
    padding: 30px;
}

.View_Employee_Attendance .Filters {
    background-color: #fff;
    padding: 20px;
    font-size: 12px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.View_Employee_Attendance .Filters input,
.View_Employee_Attendance .Filters select {
    margin-bottom: 0 !important;
    border: 0 !important;
    background-color: var(--lightgray);
    border-bottom: 1px solid rgb(128, 128, 128, .5) !important;
    border-radius: 0;
}

.View_Employee_Attendance .Filters .download-table-xls-button {
    background-color: var(--orange) !important;
    color: #fff;
    outline: none;
    border: 0;
    padding: 6px 15px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: auto;
    display: block;
}

.View_Employee_Attendance .Attendance {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    font-size: 10px;
    max-height: 80vh;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.View_Employee_Attendance .Attendance .attendance-content {
    overflow-y: auto;
    max-height: 50vh;
    margin-bottom: 30px;
}

@media only screen and (max-width: 992px) {
    .View_Employee_Attendance {
        display: block;
    }
    .View_Employee_Attendance .DivFirst {
        margin-bottom: 20px;
    }
    .View_Employee_Attendance .Attendance {
        max-height: max-content;
    }
}

@media only screen and (max-width: 600px) {
    .View_Employee_Attendance {
        padding: 30px 15px;
    }
    .View_Employee_Attendance .Filters {
        padding: 30px 15px;
    }
    .View_Employee_Attendance .Attendance {
        padding: 30px 0;
        font-size: 10px;
    }
    .View_Employee_Attendance .Attendance h5.mb-4 {
        margin-left: 30px;
    }
    .View_Employee_Attendance .Attendance #test-table-xls-button {
        margin-right: 30px;
    }
}