.Employee_Portal_news {
    display: grid;
    grid-template-columns: 25fr 25fr 25fr 25fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 30px;
    height: 100vh;
    overflow-y: auto;
}

.Employee_Portal_news .Employee_Portal_news_divs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
    width: 100%;
    background: #fff;
    transition: .5s;
    animation: popups .2s linear 1 forwards alternate;
    opacity: 0;
    transform: scale(0.8);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
}

.Employee_Portal_news .Employee_Portal_news_divs:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    /* background-color: rgb(236, 240, 245, .1); */
}

.Employee_Portal_news .Employee_Portal_news_divs img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.Employee_Portal_news .Employee_Portal_news_divs p {
    text-align: center;
    margin-top: 20px;
    font-weight: bolder;
}

.Employee_Portal_news h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
}

@media only screen and (max-width: 1050px) {
    .Employee_Portal_news {
        grid-template-columns: 33.33fr 33.33fr 33.33fr;
    }
}

@media only screen and (max-width: 800px) {
    .Employee_Portal_news {
        grid-template-columns: 50fr 50fr;
    }
}

@media only screen and (max-width: 550px) {
    .Employee_Portal_news {
        grid-template-columns: 100fr;
    }
}