.Leave_container{
    width: 80%;
    border: 1px solid lightgray;
    background-color: #ffff;
    margin: auto;
    transition: .5s;
    /* animation: popups .2s linear 1 forwards alternate;
    opacity: 0;
    transform: scale(0.8); */
    border-radius: 10px;
    font-family: 'Oxygen', sans-serif;
}

.Leave_container .Topbar_menu{
    display: flex;
    width: 100%;
}

.Leave_container .Topbar_menu div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    font-weight: bolder;
}

.Leave_container .Topbar_menu .tabs.active {
    background-color: #fff;
    border-radius: 10px 0 0 0;
    border-bottom: 0 !important;
}

.b-bottom-none {
    border-bottom: 0 !important;
    /* background-color: white !important; */
}

.History .checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #28A745;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.History .checkmark {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #28A745;
    stroke-miterlimit: 10;
    margin: auto;
    box-shadow: inset 0px 0px 0px #28A745;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.History .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.cross__svg {
    border-radius: 50%;
    display: block;
    height: 30px;
    margin: 0 auto;
    stroke-width: 3;
    width: 30px;
}

.cross__circle {
    animation: 0.6s ease 0s normal forwards 1 running stroke;
    fill: none;
    margin: auto;
    stroke: #e55454;
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 1;
}

.cross__path {
    stroke: #e55454;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    transform-origin: 50% 50% 0;
}

.f {
    stroke: #e55454;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    transform-origin: 50% 50% 0;
    animation: 0.3s ease 0.8s normal forwards 1 running stroke;
}

.l {
    stroke: #e55454;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    transform-origin: 50% 50% 0;
    animation: 1s ease 0.8s normal forwards 1 running stroke;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

.down {
    display: none;
}

.Short_Leave_Form,
.Filters {
    width: 100%;
}

.history_content {
    transition: .5s;
    padding: 20px;
    animation: popups .2s linear 1 forwards alternate;
    opacity: 0;
    transform: scale(0.8);
    border-radius: 10px;
    font-family: 'Oxygen', sans-serif;
}

.history_content h3 {
    font-family: Cinzel !important;
}

.history_content .signatures {
    transform: rotate(-10deg) translate(20px, 40px);
    font-family: "Tangerine", serif;
}

.history_content .accepted_div {
    display: block;
    margin-left: auto;
    margin-right: 10px;
    width: 200px;
    padding: 30px 0;
    background: none;
    border: 1px dashed gray;
    border-radius: 10px;
    transition: 0.3s;
}

.history_content .accepted_div:hover {
    background-color: rgb(245, 245, 245);
}

.history_content .accepted_div:focus {
    outline: 0;
    /* outline: 5px auto -webkit-focus-ring-color; */
}

.history_content .form-control#leave_type_select {
    width: fit-content !important;
}

.history_content .div_item {
    display: flex;
    grid-template-columns: 20fr 80fr;
    grid-column-gap: 10px;
}

.history_content .status_div {
    border-radius: 20px;
    padding: 2px 15px 1px;
    width: max-content;
    font-size: 13px;
    text-transform: capitalize;
    font-family: 'Cinzel';
}

.Application_Form {
    border-radius: 10px;
    padding: 20px;
    transition: .5s;
    animation: popups .2s linear 1 forwards alternate;
    opacity: 0;
    transform: scale(0.8);
}

.history_content .div_item div:first-child {
    font-weight: bold;
}

.history_content .div_item div:last-child {
    border-bottom: 1px solid;
    padding: 0 15px;
}

.history_content .table {
    font-size: 13px;
}

.history_content .Print_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Short_Leave_Form p {
    margin-bottom: 0;
}

.Short_Leave_Form .Application_Form input,
.Short_Leave_Form .Application_Form select {
    border: 1px solid rgb(212, 212, 212) !important;
    border-radius: 5px !important;
    box-shadow: rgb(204, 219, 232) 1px 1px 1px 0px inset, rgba(255, 255, 255, 0.5) -1px -1px 1px 1px inset;
    background-color: rgb(240, 240, 240, 0.5);
}

.Short_Leave_Form .Application_Form .Leave_Purpose textarea {
    border: 1px solid rgb(212, 212, 212) !important;
    border-radius: 5px !important;
    box-shadow: rgb(204, 219, 232) 1px 1px 1px 0px inset, rgba(255, 255, 255, 0.5) -1px -1px 1px 1px inset;
    background-color: rgb(240, 240, 240, 0.5);
}

.Short_Leave_Form .Application_Form form button {
    background-color: black;
    color: white;
}

.Short_Leave_Form .Application_Form form h5,
.Short_Leave_Form .Application_Form form input,
.Short_Leave_Form .Application_Form form select,
.Short_Leave_Form .Application_Form form textarea,
.Short_Leave_Form .Application_Form form button,
.Short_Leave_Form .Application_Form form p {
    font-size: 13px;
}

.showSmallScreen{
    display: none;
}
.showSmallerScreen{
    display: none;
}

.ShowSmallTable{
    display: none;
}

@media only screen and (max-width: 1250px) {
    .showBigScreen{
        display: none;
    }
    .showSmallScreen{
        display: block;
    }
}

@media only screen and (max-width: 992px) {
    .ShowBigTable{
        display: none;
    }
    .ShowSmallTable{
        display: block;
    }
}

@media only screen and (max-width: 730px) {
    .Leave_container{
        width: 90%;
    }
    .history_content h5{
        font-size: 18px;
    }
    .history_content .form-control#leave_type_select {
        /* width: 30% !important; */
        font-size: 18px;
    }
}

@media only screen and (max-width: 650px) {
    .Leave_container .Topbar_menu div{
        font-size: 13px;
    }
    .Application_Form h4{
        font-size: 20px;
    }
    .history_content h5{
        font-size: 15px;
    }
    .history_content .form-control#leave_type_select {
        /* width: 30% !important; */
        font-size: 15px;
    }
    .table td{
        font-size: 10px;
    }
    .history_content .status_div {
        font-size: 10px;
    }
    .table th{
        font-size: 10px;
    }

    .history_content h3{
        font-size: 18px;
    }
    .history_content h2{
        font-size: 20px;
    }
    .history_content .signatures {
        transform: rotate(-12deg) translate(30px, 10px);
        font-family: "Tangerine", serif;
    }

    .history_content {
        padding: 5px;
    }
}

@media only screen and (max-width: 550px) {
    .Leave_container{
        width: 95%;
    }
    .Leave_container .Topbar_menu div{
        font-size: 10px;
    }
    .history_content .form-control#leave_type_select {
        /* width: 30% !important; */
        font-size: 12px;
    }
    .showSmallerScreen{
        display: block;
    }
    .showSmallScreen{
        display: none;
    }
}


@media only screen and (max-width: 550px) {
    .history_content .form-control#leave_type_select {
        /* width: 40% !important; */
        font-size: 12px;
    }
}