.RegisterGuest {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RegisterGuest .RegisterGuest-content {
    width: 40%;
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    transition: .5s;
    cursor: pointer;
    color: #000;
    font-family: Poppins;
}

.RegisterGuest .RegisterGuest-content .InputDev {
    position: relative;
    width: 100%;
}

.RegisterGuest .RegisterGuest-content .InputDev .InputDevAbs {
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 200px;
    width: 100%;
    background: #fff;
    z-index: 50;
    transition: 1s;
    overflow: auto;
}

.RegisterGuest .RegisterGuest-content .InputDev .InputDevAbs .guestsList {
    display: grid;
    grid-template-columns: 15fr 80fr;
    font-size: 12px;
    padding: 5px;
    transition: .5s;
}

.RegisterGuest .RegisterGuest-content .InputDev .InputDevAbs .guestsList:hover {
    background-color: rgb(211, 211, 211, .5);
}

.RegisterGuest .RegisterGuest-content .InputDev .InputDevAbs .guestsList .guestImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.RegisterGuest .RegisterGuest-content .form-control {
    border: 0;
    border-bottom: 1px solid gray;
    border-radius: 0;
    width: 100%;
}

.RegisterGuest .RegisterGuest-content .guest_img {
    width: 150px;
    height: 180px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    transition: .5s;
    background-size: cover;
    display: block;
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 992px) {
    .RegisterGuest .RegisterGuest-content {
        width: 80%;
    }
}