.Descussion {
    width: 100%;
    height: max-content;
    font-size: 12px;
}

.Descussion .previous_descussions {
    width: 50%;
    display: block;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-size: 12px;
    font-family: Quicksand;
}

.Descussion .previous_descussions .emp_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
}

.Descussion .previous_descussions .description {
    width: 100%;
    margin: 15px 0;
    text-align: justify;
    word-wrap: break-word;
}

.Descussion .previous_descussions .UX {
    padding: 20px 0 0 0;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Descussion .previous_descussions .UX div.w-50 {
    transition: .3s;
}

.Descussion .previous_descussions .UX div.w-50:hover {
    color: #00A5E7;
}

.Descussion .previous_descussions .UX i {
    font-size: 20px;
}

.Descussion .previous_descussions .comments_input .form-control {
    border-radius: 30px;
    border: 0;
    background-color: rgb(211, 211, 211, .3);
    padding: 5px 20px;
    margin-bottom: 0;
}

@media only screen and (max-width: 1000px) {
    .Descussion .previous_descussions {
        width: 60%;
    }
}

@media only screen and (max-width: 768px) {
    .Descussion .previous_descussions {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .Descussion .previous_descussions {
        width: 90%;
    }
}

@media only screen and (max-width: 450px) {
    .Descussion .previous_descussions {
        width: 95%;
    }
}

@media only screen and (max-width: 400px) {
    .Descussion .previous_descussions {
        width: 100%;
    }
}