.ViewPurchaseOrder .Left .RequestContainer .Request {
    width: 100%;
    height: max-content;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    transition: .5s;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}

.ViewPurchaseOrder .Left .RequestContainer .Request:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.ViewPurchaseOrder .Left .RequestContainer .Request .EmpInfo {
    width: 100%;
    display: flex;
    align-items: center;
}

.ViewPurchaseOrder .Left .RequestContainer .Request .EmpInfo .Img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ViewPurchaseOrder .Left .RequestContainer .Request .EmpInfo .EmpGeneralInfo {
    margin-left: 10px;
}

.ViewPurchaseOrder .Left .RequestContainer .Request p {
    margin-bottom: 0 !important;
    font-size: 12px;
}

.ViewPurchaseOrder .Left .RequestContainer .Request .EmpInfo .EmpGeneralInfo p:first-child {
    font-weight: bold;
}

.ViewPurchaseOrder .Left .RequestContainer .Request .RequestShortInfo {
    display: grid;
    grid-template-columns: 75fr 25fr;
    width: 100%;
    margin-top: 10px;
}

.ViewPurchaseOrder .Left .RequestContainer .Request .RequestShortInfo div p:first-child {
    color: gray;
}

.ViewPurchaseOrder .Left .RequestContainer .Request .RequestShortInfo div .status {
    border-radius: 10px;
    color: #fff;
    padding: 1px 10px;
    font-size: 10px;
    text-align: center;
    width: max-content;
}

.ViewPurchaseOrder .Left .RequestContainer .Request .RequestShortInfo div .status.approved,
.ViewPurchaseOrder .Left .RequestContainer .Request .RequestShortInfo div .status.delivered {
    background-color: #307365;
}

.ViewPurchaseOrder .Left .RequestContainer .Request .RequestShortInfo div .status.rejected {
    background-color: #d19399;
}

.ViewPurchaseOrder .Left .RequestContainer .Request .RequestShortInfo div .status.waiting {
    background-color: #fc9701;
}

.ViewPurchaseOrder .Left .RequestContainer .Request .RequestShortInfo div .status.sent,
.ViewPurchaseOrder .Left .RequestContainer .Request .RequestShortInfo div .status.viewed {
    background-color: #0eb8de;
}

.ViewPurchaseOrder .Left .RequestContainer .Request .operationBtns {
    position: absolute;
    top: 0%;
    right: -100%;
    width: max-content;
    height: 100%;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.ViewPurchaseOrder .Left .RequestContainer .Request .operationBtns .btn {
    font-size: 20px;
}

.ViewPurchaseOrder .Left .RequestContainer .Request:hover>.operationBtns {
    opacity: 1;
    right: 0;
}