.ViewEmployees {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ViewEmployees .ViewEmployees-content {
    width: 50%;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    border-radius: 20px;
    font-family: Poppins;
}

.ViewEmployees .ViewEmployees-content .search {
    font-family: Tangerine;
}

.ViewEmployees .ViewEmployees-content .search .form-control {
    font-size: 20px;
}

.ViewEmployees .ViewEmployees-content .search .form-control:focus {
    box-shadow: none;
}

.ViewEmployees .ViewEmployees-content .search .btn:focus {
    box-shadow: none;
}

.ViewEmployees .ViewEmployees-content .employees_container {
    max-height: 350px;
    width: 100%;
    margin-top: 25px;
    overflow: auto;
}

.ViewEmployees .ViewEmployees-content .employees_container .elm {
    display: grid;
    grid-template-columns: 3fr 10fr 37fr 50fr;
    align-items: center;
    font-size: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: Quicksand;
    transition: .5s;
}

.ViewEmployees .ViewEmployees-content .employees_container .elm:hover {
    background-color: rgb(236, 240, 245, .5);
}

.ViewEmployees .ViewEmployees-content .employees_container .elm .empName {
    font-size: 15px;
    font-family: Poppins;
}

.ViewEmployees .ViewEmployees-content .employees_container .elm img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.ViewEmployees .ViewEmployees-content .employees_container .elm .btn {
    font-family: Raleway;
}