.Short_Leave_Form {
    width: 80%;
    padding: 30px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-size: 12px;
    animation: popups .2s linear 1 forwards alternate;
    opacity: 0;
    transform: scale(0.8);
    transition: .5s;
}

.Short_Leave_Form .Timings {
    display: grid;
    grid-template-columns: 33.33fr 33.33fr 33.33fr;
    grid-gap: 15px;
}

.Short_Leave_Form .form-control {
    border: 0 !important;
    background-color: var(--lightgray);
    border-bottom: 1px solid rgb(128, 128, 128, .5) !important;
    border-radius: 0;
}

.Short_Leave_Form textarea {
    padding: 20px;
}

.Short_Leave_Form .submit {
    background-color: var(--blue);
    color: #fff;
    border-radius: 20px;
    padding: 5px 20px;
    margin-top: 30px;
}