.Guest_Registration {
    height: 100vh;
    width: 100%;
    position: relative;
}

.Guest_Registration svg:first-child {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: -1;
}

.Guest_Registration svg:last-child {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.Guest_Registration .Guest_Image {
    padding: 30px;
    font-family: Poppins;
    display: flex;
    justify-content: space-between;
    height: 50vh;
    overflow: hidden;
    padding-top: 90px;
}

.Guest_Registration .Guest_Image .GuestImg {
    width: 280px;
    height: 80%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-color: #fff;
}
.Guest_Registration .Guest_Image .Dash_Board1{
    display: none;
}

.Guest_Registration .Guest_Image .GuestImg::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #115d5a;
    opacity: 0.15;
    z-index: -1;
    left: 15%;
    top: 10%;
}

.Guest_Registration .Guest_Info {
    display: grid;
    grid-template-columns: 40fr 60fr;
    height: 50vh;
    padding: 0 30px;
}

.Guest_Registration .Guest_Info .InputDevAbs {
    max-height: 300px;
    overflow: auto;
    width: 100%;
}

.Guest_Registration .guestsList {
    display: grid;
    grid-template-columns: 15fr 80fr;
    font-size: 12px;
    padding: 5px;
    transition: .5s;
    border-bottom: 1px solid lightgray;
}

.Guest_Registration .guestsList:hover {
    background-color: rgb(211, 211, 211, .5);
}

.Guest_Registration .guestsList .guestImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Guest_Registration .Guest_Info .right {
    display: flex;
    align-items: center;
    justify-content: right;
    font-family: Poppins;
}

.Guest_Registration .Guest_Info .right .input-group .form-control {
    border: 0;
    border-bottom: 1px solid gray;
    border-radius: 0;
}

.Guest_Registration .Guest_Info .right .input-group {
    margin-bottom: 20px;
}

.Guest_Registration .Guest_Info .right .input-group .input-group-prepend .input-group-text {
    background: none;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 800px) {
    .Guest_Registration .Guest_Info {
        grid-template-columns: 100fr;
    }
    .Guest_Registration .Guest_Info .Left {
        display: none !important;
    }
}
@media only screen and (max-width: 600px) {
    .Guest_Registration .Guest_Image h1{
        font-size: 30px;
    }
    .Guest_Registration .Guest_Image .GuestImg {
        width: 220px;
    }
    .Guest_Registration .Guest_Info {
        grid-template-columns: 100fr;
    }
}
@media only screen and (max-width: 500px) {
    .Guest_Registration .Guest_Image .Dash_Board{
        display: none;
    }
    .Guest_Registration .Guest_Image .Dash_Board1{
        display: block;
        font-size: 30px;
    }
}
@media only screen and (max-width: 450px) {
    .Guest_Registration .Guest_Image h1{
        font-size: 20px;
    }
    .Guest_Registration .Guest_Image .Dash_Board1{
        font-size: 25px;
    }
}