.New_Inventory_Assets {
    width: 100%;
    position: relative;
    padding-top: 70px;
    z-index: 1 !important;
    font-family: Raleway !important;
}

.New_Inventory_Assets .back {
    width: 94%;
    height: 25vh;
    top: 20px;
    left: 3%;
    background-color: #0db8de;
    border-radius: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: -1;
    border: 3px solid #fff;
}

.New_Inventory_Assets .Inventory_Assets_Grid {
    display: grid;
    grid-template-columns: 16.66fr 16.66fr 16.66fr 16.66fr 16.66fr 16.66fr;
    grid-column-gap: 30px;
    width: 90%;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 auto;
    scroll-behavior: smooth;
}

.New_Inventory_Assets .Inventory_Assets_Grid::-webkit-scrollbar {
    width: 10px;
    display: none;
}

.New_Inventory_Assets .Inventory_Assets_Grid .Divs {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    z-index: 1;
    animation: popups .2s linear 1 forwards alternate;
    opacity: 0;
    transform: scale(0.8);
}

.New_Inventory_Assets .Inventory_Assets_Grid .Divs .ImageDiv {
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    width: 100%;
    border-radius: 8px 8px 0 0;
    height: 10vh;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    position: relative;
    overflow: hidden;
}

.New_Inventory_Assets .Inventory_Assets_Grid .Divs .ImageDiv .warrantyTag {
    width: 40%;
    background-color: #0db8de;
    color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding: 2px 10px;
    font-weight: bolder;
    position: absolute;
    top: 15px;
    right: 65%;
    transform: rotate(-40deg);
    text-align: center;
}

.New_Inventory_Assets .Inventory_Assets_Grid .Divs p {
    font-size: 10px !important;
}

.New_Inventory_Assets .Inventory_Assets_Grid .Divs p:first-child {
    margin-bottom: 0;
    font-weight: bolder;
    font-size: 12px !important;
}

.New_Inventory_Assets .Inventory_Assets_Grid .Divs .ImageDiv .warrantyTag p {
    font-size: 10px !important;
}

.New_Inventory_Assets .Inventory_Assets_Grid .Divs .Inventory_dropdown_Icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 1;
    font-size: 20px !important;
}

.New_Inventory_Assets .Inventory_Assets_Grid .Divs .Inventory_dropdown_Icon:hover {
    background-color: lightgray;
}

.New_Inventory_Assets .Inventory_Assets_Grid .Divs .Inventory_dropdown_Icon .Show_Inventory_dropdown {
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 180px;
    height: max-content;
    background-color: white;
    z-index: 2;
    border-radius: 10px;
    padding: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: none;
}

.New_Inventory_Assets .Inventory_Assets_Grid .Divs .Inventory_dropdown_Icon .Show_Inventory_dropdown .ul_Dots {
    width: 10px;
    height: 10px;
    margin-right: 20px;
    border-radius: 50%;
}

.New_Inventory_Assets .Inventory_Assets_Grid .Divs .Inventory_dropdown_Icon .Show_Inventory_dropdown p {
    font-size: 10px !important;
}

.New_Inventory_Assets .assetDivTwo .Heading2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    width: 90%;
    margin: 0 auto;
    color: #fff;
}

.New_Inventory_Assets .assetDivTwo .Heading2 div {
    cursor: pointer;
}


/* .New_Inventory_Assets .assetDivTwo .Heading2 div:hover{
    background-color: rgb(236, 236, 236);
} */

.New_Inventory_Assets .assetDivTwo .Heading2 i {
    font-size: 22px;
}

.New_Inventory_Assets .Inventory_Assets_Grid2 {
    width: 90%;
    margin: 0 auto;
    height: 50vh;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 10fr 90fr;
    grid-column-gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
}

.New_Inventory_Assets .Inventory_Assets_Grid2 .AssetInfoTabs {
    display: none;
    font-size: 12px !important;
    animation: popups .2s linear 1 forwards alternate;
    opacity: 0;
    transform: scale(0.8);
    padding: 30px;
}

.New_Inventory_Assets .Inventory_Assets_Grid2 .Assets_Details_Content {
    display: block;
}

.New_Inventory_Assets .Inventory_Assets_Grid2 .Assets_Details_Content {
    width: 100%;
    border-radius: 0 30px 30px 0;
    display: grid;
    grid-template-columns: 33.33fr 33.33fr 33.33fr;
    grid-column-gap: 20px;
}

.New_Inventory_Assets .Inventory_Assets_Grid2 .Assets_Details {
    display: flex;
    align-items: center;
}

.New_Inventory_Assets .Inventory_Assets_Grid2 .Assets_Image {
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 5px solid black;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.New_Inventory_Assets .Inventory_Assets_Grid2 h4 {
    font-family: Poppins;
    font-size: 20px;
    margin-top: 20px;
}

.New_Inventory_Assets .Inventory_Assets_Grid2 .Assets_Details_Tabs {
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    justify-content: space-around;
}

.New_Inventory_Assets .Inventory_Assets_Grid2 .Assets_Details_Tabs .activeClass {
    background-color: #0db8de !important;
    color: white !important;
}

.New_Inventory_Assets .Inventory_Assets_Grid2 .Assets_Details_Tabs div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    /* #1A2226 */
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin: 0 auto;
    cursor: pointer;
    transition: .5s;
    animation: popups .2s linear 1 forwards alternate;
    opacity: 0;
    transform: scale(0.8);
}

.New_Inventory_Assets .Inventory_Assets_Grid2 .Assets_Details_Tabs div:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.New_Inventory_Assets .Inventory_Assets_Grid2 .Assets_Details .sup1 {
    font-size: 13px;
    top: -10px;
    left: 0;
}

.New_Inventory_Assets .Inventory_Assets_Grid2 .Assets_Details .sup2 {
    font-size: 15px;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 1450px) {
    .New_Inventory_Assets .Inventory_Assets_Grid {
        grid-template-columns: 20fr 20fr 20fr 20fr 20fr;
    }
}

@media only screen and (max-width: 992px) {
    .New_Inventory_Assets .Inventory_Assets_Grid {
        grid-template-columns: 25fr 25fr 25fr 25fr;
    }
    .New_Inventory_Assets .Inventory_Assets_Grid2 .Assets_Details_Content {
        grid-template-columns: 50fr 50fr;
    }
}

@media only screen and (max-width: 768px) {
    .New_Inventory_Assets .Inventory_Assets_Grid {
        grid-template-columns: 33.33fr 33.33fr 33.33fr;
    }
}

@media only screen and (max-width: 600px) {
    .New_Inventory_Assets .Inventory_Assets_Grid {
        grid-template-columns: 50fr 50fr;
    }
    .New_Inventory_Assets .Inventory_Assets_Grid .Divs .Inventory_dropdown_Icon .Show_Inventory_dropdown {
        width: 150px;
    }
    .New_Inventory_Assets .Inventory_Assets_Grid .Divs .Inventory_dropdown_Icon .Show_Inventory_dropdown p {
        font-size: 8px !important;
        margin-bottom: 0 !important;
    }
    .New_Inventory_Assets .assetDivTwo .Heading2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
    }
    .New_Inventory_Assets .assetDivTwo .Heading2 h2 {
        font-size: 20px;
    }
    .New_Inventory_Assets .assetDivTwo .Heading2 i {
        font-size: 20px;
    }
    .New_Inventory_Assets .Inventory_Assets_Grid2 .Assets_Details_Content {
        display: block;
    }
    .New_Inventory_Assets .Inventory_Assets_Grid2 {
        height: max-content;
        min-height: 50vh;
    }
}