.ViewPRRequests .PREmployeesList .list {
    width: 100%;
    max-height: 500px;
    overflow: auto;
}

.ViewPRRequests .PREmployeesList>p,
.ViewPRRequests .PREmployeesList>div,
.ViewPRRequests .PREmployeesList>input {
    font-size: 12px;
}

.ViewPRRequests .InvoContainer,
.ViewPRRequests .InvoPrev {
    width: 100%;
    height: 100%;
    font-size: 12px;
}

.ViewPRRequests .InvoPrev .InvoPrevContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 30fr 70fr;
    grid-column-gap: 30px;
}

.ViewPRRequests .InvoPrev .InvoPrevContainer .Left {
    width: 100%;
}

.ViewPRRequests .InvoPrev .InvoPrevContainer .Left .Invorequests {
    width: 100%;
    padding: 10px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.ViewPRRequests .InvoPrev .InvoPrevContainer .Left .Invorequests .imp {
    color: #fff;
    padding: 1px 5px;
    border-radius: 10px;
    font-size: 10px;
    display: block;
    width: max-content;
    margin-right: 5px;
}

.ViewPRRequests .InvoPrev .InvoPrevContainer .Left .Invorequests .btn {
    font-size: 12px;
    background-color: #ECF0F5;
    border-radius: 0;
}

.ViewPRRequests .InvoPrev .InvoPrevContainer .Right .RequestDetails {
    width: 100%;
}

.ViewPRRequests .InvoPrev .InvoPrevContainer .Right .RequestDetails .RequestDetailsInner {
    display: grid;
    grid-template-columns: 50fr 50fr;
    grid-column-gap: 30px;
}

.ViewPRRequests .InvoPrev .InvoPrevContainer .Right .RequestDetails .RequestDetailsInner .RequestDetailsInner_Left .inner,
.ViewPRRequests .InvoPrev .InvoPrevContainer .Right .RequestDetails .RequestDetailsInner .RequestDetailsInner_Right .inner {
    background-color: #ffff;
    padding: 10px;
    border-radius: 5px;
}

.ViewPRRequests .InvoPrev .InvoPrevContainer .Right .RequestDetails .RequestDetailsInner .RequestDetailsInner_Left .inner .viewMore {
    cursor: pointer;
}

.ViewPRRequests .InvoPrev .InvoPrevContainer .Right .RequestDetails .RequestDetailsInner .RequestDetailsInner_Left p {
    margin-bottom: 5px;
}

.ViewPRRequests .InvoPrev .InvoPrevContainer .Right .RequestDetails .RequestDetailsInner .RequestDetailsInner_Left .SpecificationsInner {
    max-height: 35vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.ViewPRRequests .InvoPrev .InvoPrevContainer .Right .RequestDetails .RequestDetailsInner .RequestDetailsInner_Left .inner.specifications {
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.ViewPRRequests .InvoPrev .InvoPrevContainer .Right .RequestDetails .RequestDetailsInner .RequestDetailsInner_Left .inner.specifications p {
    font-size: 11px;
    margin-bottom: 0;
}

.ViewPRRequests .InvoPrev .InvoPrevContainer .Right .RequestDetails .RequestDetailsInner .RequestDetailsInner_Right .status,
.ViewPRRequests .InvoPrev .InvoPrevContainer .Right .RequestDetails .RequestDetailsInner .RequestDetailsInner_Right .Break {
    display: grid;
    grid-template-columns: 10fr 20fr 70fr;
    grid-column-gap: 20px;
    font-size: 10px;
}

.ViewPRRequests .InvoPrev .InvoPrevContainer .Right .RequestDetails .RequestDetailsInner .RequestDetailsInner_Right .grayScale {
    opacity: .5;
    color: gray;
}

.ViewPRRequests .InvoPrev .InvoPrevContainer .Right .RequestDetails .RequestDetailsInner .RequestDetailsInner_Right .status .statusItem {
    display: flex;
    align-items: center;
}

.ViewPRRequests .InvoPrev .InvoPrevContainer .Right .RequestDetails .RequestDetailsInner .RequestDetailsInner_Right .status .statusItem h6 {
    font-size: 13px;
    font-weight: bold;
}

.ViewPRRequests .InvoPrev .InvoPrevContainer .Right .RequestDetails .RequestDetailsInner .RequestDetailsInner_Right .status .statusItem:first-child {
    justify-content: center;
}

.ViewPRRequests .InvoPrev .InvoPrevContainer .Right .RequestDetails .RequestDetailsInner .RequestDetailsInner_Right .status .statusItem p {
    margin-bottom: 0;
}

.ViewPRRequests .InvoPrev .InvoPrevContainer .Right .RequestDetails .RequestDetailsInner .RequestDetailsInner_Right .status div i {
    font-size: 22px;
}

.ViewPRRequests .InvoPrev .InvoPrevContainer .Right .RequestDetails .RequestDetailsInner .RequestDetailsInner_Right .Break .line {
    width: 1px;
    height: 50px;
    background-color: lightgray;
    margin: 0 auto;
}

.ViewPRRequests .InvoPrev .InvoPrevContainer .Right .RequestDetails .inner .RequestAttachments {
    display: grid;
    grid-template-columns: 33.33fr 33.33fr 33.33fr;
    grid-gap: 20px;
    max-height: 30vh;
    overflow: auto;
}

.ViewPRRequests .InvoPrev .InvoPrevContainer .Right .RequestDetails .inner .RequestAttachments .Attachment {
    width: 100%;
    height: 150px;
    border: 2px dotted lightgray;
    cursor: pointer;
    transition: .5s;
    background-position: center;
    background-size: cover;
}

.ViewPRRequests .InvoPrev .InvoPrevContainer .Right .RequestDetails .inner .RequestAttachments .Attachment:hover {
    border-color: gray;
}