.Dashboard_sideBar {
    width: 18vw;
    height: 100vh;
    background-color: #081c34;
    color: #5b6d80;
    overflow: auto;
    position: fixed;
    z-index: 1000;
    transition: .3s;
}

.Dashboard_sideBar .Dashboard_logo {
    width: 100%;
    height: max-content;
    justify-content: space-between !important;
    padding: 10px 20px;
    font-family: Oxygen;
    margin-bottom: 20px;
}

.Dashboard_sideBar .Dashboard_logo button {
    font-size: 20px;
    color: #5b6d80;
}

.Dashboard_sideBar .Dashboard_logo button:focus {
    box-shadow: none;
}

.Dashboard_sideBar .links {
    justify-content: start !important;
    padding: 10px 20px;
    font-family: Poppins;
    color: #5b6d80;
    margin-bottom: 10px;
    border-left: 2px solid #1A2226;
    transition: .5s;
    font-size: 12px;
    cursor: pointer;
    white-space: nowrap;
}


/* .Dashboard_sideBar ._options {
    background-color: #5b6d80;
} */

.Dashboard_sideBar .links i {
    font-size: 18px;
}

.Dashboard_active {
    /* background-color: #222D32; */
    color: #f1f9fb !important;
    border-left: 2px solid #f1f9fb !important;
}

.Dashboard_sideBar .links:hover {
    text-decoration: none;
    color: #f1f9fb;
}

@media only screen and (max-width: 1200px) {
    .Dashboard_sideBar {
        width: 0;
    }
    .ShowBar {
        width: 300px !important;
    }
}

@media only screen and (max-width: 992px) {
    .Dashboard_sideBar {
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .ShowBar {
        width: 100% !important;
    }
}