.EmpDetails {
    width: 100%;
    height: max-content;
}

.EmpDetails .EmployeeDetails h1, .EmpDetails .EmployeeDetails h4 {
    font-family: Poppins;
}

.EmpDetails .EmployeeDetails {
    background-color: rgb(236, 240, 245, .5);
    font-family: Quicksand;
}

.EmpDetails .EmployeeDetails .emp_img {
    width: 350px;
    height: 260px;
    border-radius: 10px;
    border: 10px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.EmpDetails .EmployeeDetails .otherInfo {
    display: grid;
    grid-template-columns: 50fr 50fr;
}

.EmpDetails .EmpInOuts {
    width: 50%;
    margin: 0 auto 50px;
    padding: 30px;
    font-family: Poppins;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.EmpDetails .EmpInOuts .table {
    font-size: 12px;
}