.inventory_requests_page {
    padding: 0 20px;
    font-family: Roboto-Light;
    font-size: 12px;
}

.inventory_requests_page .inventory_requests_page_content {
    background: #ffffff;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
}

.inventory_requests_page .table tbody tr {
    cursor: pointer;
    transition: .3s;
}

.inventory_requests_page  .details .table tbody tr {
    cursor: auto;
}