.inventory_requests_page {
    padding: 20px;
    grid-gap: 20px;
    font-family: Maersk;
}

.inventory_requests_page .requests.request_details .btn {
    font-size: 12px;
}

.inventory_requests_page .requests.request_details .inventory_request:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.inventory_requests_page .requests.request_details .employee img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
}

.inventory_requests_page .requests.request_details .employee p {
    margin-bottom: 0;
}

.inventory_requests_page .requests.request_details .list {
    height: 75vh;
    overflow-y: auto;
    position: relative;
}

.inventory_requests_page .requests.request_details .list .table {
    font-size: 12px;
}

.inventory_requests_page .details {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    font-size: 13px;
    opacity: 0;
    animation: popUps .5s linear 1 forwards alternate;
    display: grid;
    grid-template-columns: 70fr 30fr;
    grid-gap: 30px;
}

.inventory_requests_page .details .la-times-circle {
    cursor: pointer;
}

@keyframes popUps {
    100% {
        opacity: 1;
    }
}