.repair_request {
    padding: 20px;
    font-size: 12px;
}

.repair_request .request_container {
    display: grid;
    grid-template-columns: 30fr 70fr;
    grid-gap: 20px;
}

.repair_request .request_container .repair_request_form {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px;
    border-radius: 10px;
}

.repair_request .request_container .repair_request_form .btn {
    font-size: 12px;
}

.repair_request_list {
    max-height: 75vh;
    overflow-y: auto;
}